<div class="affichage_notes">
  <div class="affichage-notes-container">
    <h2>Affichage des notes</h2>
      <!-- Selection du semestre -->
      <div class="selection-semestre">
        <button type="button" (click)="selectionner_semestre(7)">Semestre 7</button>
        <button type="button" (click)="selectionner_semestre(8)">Semestre 8</button>
      </div>

     <!-- Tableau des notes, visible selon le semestre sélectionné -->
     <div *ngIf="semestre_selectionne !== null">
      <table>
        <thead>
          <tr>
            <th>Matière / UE</th>
            <th>Note Élève</th>
            <th>Moyenne Classe</th>
            <th>Note Max</th>
            <th>Note Min</th>
            <th>Rang Élève</th>
          </tr>
        </thead>
        <tbody>
          <!-- Affichage du semestre sélectionné -->
          <tr>
            <td><strong>Semestre {{ semestre_selectionne }}</strong></td>
            <td>{{ moyenne_eleve }}</td>
            <td>{{ moyenne_classe }}</td>
            <td>{{ note_plus_haute }}</td>
            <td>{{ note_plus_basse }}</td>
            <td>{{ rang_eleve }}</td>
          </tr>

          <!-- Affichage des UE et Matières -->
          <ng-container *ngFor="let ue of ues">
            <!-- Affichage du nom de l'UE -->
            <tr>
              <td><strong>{{ ue.nom }}</strong></td>
              <td>{{ ue.moyenne_UE }}</td>
              <td>{{ ue.moyenne_classe_UE }}</td>
              <td>{{ ue.note_max_ue }}</td>
              <td>{{ ue.note_min_ue }}</td>
              <td>{{ ue.rang_eleve_ue }}</td>
            </tr>

            <!-- Affichage des Matières de l'UE -->
            <tr *ngFor="let matiere of ue.matieres">
              <td>{{ matiere.nom }}</td>
              <td>{{ matiere.note_eleve }}</td>
              <td>{{ matiere.moyenne_classe }}</td>
              <td>{{ matiere.note_max }}</td>
              <td>{{ matiere.note_min }}</td>
              <td>{{ matiere.rang_eleve }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
</div>
